body{
    background-color: blanchedalmond;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(190, 200, 58);
    border-bottom: 2px solid cadetblue;
}
nav#mainNav{
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 4px;
}
a.navBtn{
    color: aliceblue;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 0 0 6px 6px;
}
a.navBtn:hover{
    background-color: brown;
    color: burlywood;
}
header h2{
    margin: 20px;
}
section#zoznam {
    padding: 8px;
}